name: Build IPA
on: [push, pull_request, workflow_dispatch]

jobs:
  iOS:
    runs-on: macos-15
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_GHA_ENABLED: "true"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-ios
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            src-tauri
          cache-all-crates: true
          cache-on-failure: true
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Cache Bun and node_modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.bun/install/cache
            ~/.cache/bun
            **/node_modules
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-
      - name: Install sccache
        run: brew install sccache
      - name: Cache Xcode DerivedData
        uses: actions/cache@v4
        with:
          path: ~/Library/Developer/Xcode/DerivedData
          key: ${{ runner.os }}-xcode-dd-${{ hashFiles('src-tauri/gen/apple/**/project.pbxproj') }}
          restore-keys: |
            ${{ runner.os }}-xcode-dd-
      - name: Install dependencies
        run: bun i --frozen-lockfile
      - name: Cache Cargo bin
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin
          key: ${{ runner.os }}-cargo-bin-tauri-cli-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-bin-tauri-cli-
      - name: Install tauri cli
        continue-on-error: true
        run: cargo install tauri-cli --version "^2.0.0" --locked && cargo install --locked bindgen-cli
      - name: Build iOS
        run: cargo tauri ios build
        continue-on-error: true
      - name: Convert .app to .ipa
        run: |
          mkdir Payload
          cp -R src-tauri/gen/apple/build/isideload-gui_iOS.xcarchive/Products/Applications/isideload-gui.app Payload/
          zip -r isideload-gui.ipa Payload
      - name: Upload iOS artifact
        uses: actions/upload-artifact@v4
        with:
          path: isideload-gui.ipa
          name: isideload-gui.ipa
